.dropzone .info {
  color: #999;
  text-align: center;
}

.dropzone {
  border: 3px dashed #ccc;
  padding: 10px;
  background: #fff;
  min-height: 200px;
}

/*/
/* gridster
/*/
.gridster * {
  margin:0;
  padding:0;
}

.gridster ul {
    list-style-type: none;
}

.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.editor {
  overflow: scroll;
  height: 200px;
  max-height: 200px;
  outline: none;
  background-color: white;
  border-collapse: separate; 
  border: 1px solid rgb(204, 204, 204); 
  padding: 4px; 
  box-sizing: content-box; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
}