
<option value='AD_CAT_COMP_HARD'
	{% if value == 'AD_CAT_COMP_HARD' %}selected{% endif %}>Computer Hardware</option>

<option value='AD_CAT_COMP_SOFT'
	{% if value == 'AD_CAT_COMP_SOFT' %}selected{% endif %}>Computer Software</option>

<option value='AD_CAT_GAMING_HARD'
	{% if value == 'AD_CAT_GAMING_HARD' %}selected{% endif %}>Gaming Hardware</option>

<option value='AD_CAT_GAMING_STUFF'
	{% if value == 'AD_CAT_GAMING_STUFF' %}selected{% endif %}>Gaming Related Stuff</option>

<option value='AD_CAT_GAMING_SOFT'
	{% if value == 'AD_CAT_GAMING_SOFT' %}selected{% endif %}>Gaming Software</option>
