
<option value='ISO2_COUNTRY_AF'
	{% if value == 'ISO2_COUNTRY_AF' %}selected{% endif %}>AFGHANISTAN</option>

<option value='ISO2_COUNTRY_AX'
	{% if value == 'ISO2_COUNTRY_AX' %}selected{% endif %}>ÅLAND ISLANDS</option>

<option value='ISO2_COUNTRY_AL'
	{% if value == 'ISO2_COUNTRY_AL' %}selected{% endif %}>ALBANIA</option>

<option value='ISO2_COUNTRY_DZ'
	{% if value == 'ISO2_COUNTRY_DZ' %}selected{% endif %}>ALGERIA</option>

<option value='ISO2_COUNTRY_AS'
	{% if value == 'ISO2_COUNTRY_AS' %}selected{% endif %}>AMERICAN SAMOA</option>

<option value='ISO2_COUNTRY_AD'
	{% if value == 'ISO2_COUNTRY_AD' %}selected{% endif %}>ANDORRA</option>

<option value='ISO2_COUNTRY_AO'
	{% if value == 'ISO2_COUNTRY_AO' %}selected{% endif %}>ANGOLA</option>

<option value='ISO2_COUNTRY_AI'
	{% if value == 'ISO2_COUNTRY_AI' %}selected{% endif %}>ANGUILLA</option>

<option value='ISO2_COUNTRY_AQ'
	{% if value == 'ISO2_COUNTRY_AQ' %}selected{% endif %}>ANTARCTICA</option>

<option value='ISO2_COUNTRY_AG'
	{% if value == 'ISO2_COUNTRY_AG' %}selected{% endif %}>ANTIGUA AND BARBUDA</option>

<option value='ISO2_COUNTRY_AR'
	{% if value == 'ISO2_COUNTRY_AR' %}selected{% endif %}>ARGENTINA</option>

<option value='ISO2_COUNTRY_AM'
	{% if value == 'ISO2_COUNTRY_AM' %}selected{% endif %}>ARMENIA</option>

<option value='ISO2_COUNTRY_AW'
	{% if value == 'ISO2_COUNTRY_AW' %}selected{% endif %}>ARUBA</option>

<option value='ISO2_COUNTRY_AU'
	{% if value == 'ISO2_COUNTRY_AU' %}selected{% endif %}>AUSTRALIA</option>

<option value='ISO2_COUNTRY_AT'
	{% if value == 'ISO2_COUNTRY_AT' %}selected{% endif %}>AUSTRIA</option>

<option value='ISO2_COUNTRY_AZ'
	{% if value == 'ISO2_COUNTRY_AZ' %}selected{% endif %}>AZERBAIJAN</option>

<option value='ISO2_COUNTRY_BS'
	{% if value == 'ISO2_COUNTRY_BS' %}selected{% endif %}>BAHAMAS</option>

<option value='ISO2_COUNTRY_BH'
	{% if value == 'ISO2_COUNTRY_BH' %}selected{% endif %}>BAHRAIN</option>

<option value='ISO2_COUNTRY_BD'
	{% if value == 'ISO2_COUNTRY_BD' %}selected{% endif %}>BANGLADESH</option>

<option value='ISO2_COUNTRY_BB'
	{% if value == 'ISO2_COUNTRY_BB' %}selected{% endif %}>BARBADOS</option>

<option value='ISO2_COUNTRY_BY'
	{% if value == 'ISO2_COUNTRY_BY' %}selected{% endif %}>BELARUS</option>

<option value='ISO2_COUNTRY_BE'
	{% if value == 'ISO2_COUNTRY_BE' %}selected{% endif %}>BELGIUM</option>

<option value='ISO2_COUNTRY_BZ'
	{% if value == 'ISO2_COUNTRY_BZ' %}selected{% endif %}>BELIZE</option>

<option value='ISO2_COUNTRY_BJ'
	{% if value == 'ISO2_COUNTRY_BJ' %}selected{% endif %}>BENIN</option>

<option value='ISO2_COUNTRY_BM'
	{% if value == 'ISO2_COUNTRY_BM' %}selected{% endif %}>BERMUDA</option>

<option value='ISO2_COUNTRY_BT'
	{% if value == 'ISO2_COUNTRY_BT' %}selected{% endif %}>BHUTAN</option>

<option value='ISO2_COUNTRY_BO'
	{% if value == 'ISO2_COUNTRY_BO' %}selected{% endif %}>BOLIVIA, PLURINATIONAL STATE OF</option>

<option value='ISO2_COUNTRY_BQ'
	{% if value == 'ISO2_COUNTRY_BQ' %}selected{% endif %}>BONAIRE, SINT EUSTATIUS AND SABA</option>

<option value='ISO2_COUNTRY_BA'
	{% if value == 'ISO2_COUNTRY_BA' %}selected{% endif %}>BOSNIA AND HERZEGOVINA</option>

<option value='ISO2_COUNTRY_BW'
	{% if value == 'ISO2_COUNTRY_BW' %}selected{% endif %}>BOTSWANA</option>

<option value='ISO2_COUNTRY_BV'
	{% if value == 'ISO2_COUNTRY_BV' %}selected{% endif %}>BOUVET ISLAND</option>

<option value='ISO2_COUNTRY_BR'
	{% if value == 'ISO2_COUNTRY_BR' %}selected{% endif %}>BRAZIL</option>

<option value='ISO2_COUNTRY_IO'
	{% if value == 'ISO2_COUNTRY_IO' %}selected{% endif %}>BRITISH INDIAN OCEAN TERRITORY</option>

<option value='ISO2_COUNTRY_BN'
	{% if value == 'ISO2_COUNTRY_BN' %}selected{% endif %}>BRUNEI DARUSSALAM</option>

<option value='ISO2_COUNTRY_BG'
	{% if value == 'ISO2_COUNTRY_BG' %}selected{% endif %}>BULGARIA</option>

<option value='ISO2_COUNTRY_BF'
	{% if value == 'ISO2_COUNTRY_BF' %}selected{% endif %}>BURKINA FASO</option>

<option value='ISO2_COUNTRY_BI'
	{% if value == 'ISO2_COUNTRY_BI' %}selected{% endif %}>BURUNDI</option>

<option value='ISO2_COUNTRY_KH'
	{% if value == 'ISO2_COUNTRY_KH' %}selected{% endif %}>CAMBODIA</option>

<option value='ISO2_COUNTRY_CM'
	{% if value == 'ISO2_COUNTRY_CM' %}selected{% endif %}>CAMEROON</option>

<option value='ISO2_COUNTRY_CA'
	{% if value == 'ISO2_COUNTRY_CA' %}selected{% endif %}>CANADA</option>

<option value='ISO2_COUNTRY_CV'
	{% if value == 'ISO2_COUNTRY_CV' %}selected{% endif %}>CAPE VERDE</option>

<option value='ISO2_COUNTRY_KY'
	{% if value == 'ISO2_COUNTRY_KY' %}selected{% endif %}>CAYMAN ISLANDS</option>

<option value='ISO2_COUNTRY_CF'
	{% if value == 'ISO2_COUNTRY_CF' %}selected{% endif %}>CENTRAL AFRICAN REPUBLIC</option>

<option value='ISO2_COUNTRY_TD'
	{% if value == 'ISO2_COUNTRY_TD' %}selected{% endif %}>CHAD</option>

<option value='ISO2_COUNTRY_CL'
	{% if value == 'ISO2_COUNTRY_CL' %}selected{% endif %}>CHILE</option>

<option value='ISO2_COUNTRY_CN'
	{% if value == 'ISO2_COUNTRY_CN' %}selected{% endif %}>CHINA</option>

<option value='ISO2_COUNTRY_CX'
	{% if value == 'ISO2_COUNTRY_CX' %}selected{% endif %}>CHRISTMAS ISLAND</option>

<option value='ISO2_COUNTRY_CC'
	{% if value == 'ISO2_COUNTRY_CC' %}selected{% endif %}>COCOS (KEELING) ISLANDS</option>

<option value='ISO2_COUNTRY_CO'
	{% if value == 'ISO2_COUNTRY_CO' %}selected{% endif %}>COLOMBIA</option>

<option value='ISO2_COUNTRY_KM'
	{% if value == 'ISO2_COUNTRY_KM' %}selected{% endif %}>COMOROS</option>

<option value='ISO2_COUNTRY_CG'
	{% if value == 'ISO2_COUNTRY_CG' %}selected{% endif %}>CONGO</option>

<option value='ISO2_COUNTRY_CD'
	{% if value == 'ISO2_COUNTRY_CD' %}selected{% endif %}>CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>

<option value='ISO2_COUNTRY_CK'
	{% if value == 'ISO2_COUNTRY_CK' %}selected{% endif %}>COOK ISLANDS</option>

<option value='ISO2_COUNTRY_CR'
	{% if value == 'ISO2_COUNTRY_CR' %}selected{% endif %}>COSTA RICA</option>

<option value='ISO2_COUNTRY_CI'
	{% if value == 'ISO2_COUNTRY_CI' %}selected{% endif %}>CÔTE D&#39;IVOIRE</option>

<option value='ISO2_COUNTRY_HR'
	{% if value == 'ISO2_COUNTRY_HR' %}selected{% endif %}>CROATIA</option>

<option value='ISO2_COUNTRY_CU'
	{% if value == 'ISO2_COUNTRY_CU' %}selected{% endif %}>CUBA</option>

<option value='ISO2_COUNTRY_CW'
	{% if value == 'ISO2_COUNTRY_CW' %}selected{% endif %}>CURAÇAO</option>

<option value='ISO2_COUNTRY_CY'
	{% if value == 'ISO2_COUNTRY_CY' %}selected{% endif %}>CYPRUS</option>

<option value='ISO2_COUNTRY_CZ'
	{% if value == 'ISO2_COUNTRY_CZ' %}selected{% endif %}>CZECH REPUBLIC</option>

<option value='ISO2_COUNTRY_DK'
	{% if value == 'ISO2_COUNTRY_DK' %}selected{% endif %}>DENMARK</option>

<option value='ISO2_COUNTRY_DJ'
	{% if value == 'ISO2_COUNTRY_DJ' %}selected{% endif %}>DJIBOUTI</option>

<option value='ISO2_COUNTRY_DM'
	{% if value == 'ISO2_COUNTRY_DM' %}selected{% endif %}>DOMINICA</option>

<option value='ISO2_COUNTRY_DO'
	{% if value == 'ISO2_COUNTRY_DO' %}selected{% endif %}>DOMINICAN REPUBLIC</option>

<option value='ISO2_COUNTRY_EC'
	{% if value == 'ISO2_COUNTRY_EC' %}selected{% endif %}>ECUADOR</option>

<option value='ISO2_COUNTRY_EG'
	{% if value == 'ISO2_COUNTRY_EG' %}selected{% endif %}>EGYPT</option>

<option value='ISO2_COUNTRY_SV'
	{% if value == 'ISO2_COUNTRY_SV' %}selected{% endif %}>EL SALVADOR</option>

<option value='ISO2_COUNTRY_GQ'
	{% if value == 'ISO2_COUNTRY_GQ' %}selected{% endif %}>EQUATORIAL GUINEA</option>

<option value='ISO2_COUNTRY_ER'
	{% if value == 'ISO2_COUNTRY_ER' %}selected{% endif %}>ERITREA</option>

<option value='ISO2_COUNTRY_EE'
	{% if value == 'ISO2_COUNTRY_EE' %}selected{% endif %}>ESTONIA</option>

<option value='ISO2_COUNTRY_ET'
	{% if value == 'ISO2_COUNTRY_ET' %}selected{% endif %}>ETHIOPIA</option>

<option value='ISO2_COUNTRY_FK'
	{% if value == 'ISO2_COUNTRY_FK' %}selected{% endif %}>FALKLAND ISLANDS (MALVINAS)</option>

<option value='ISO2_COUNTRY_FO'
	{% if value == 'ISO2_COUNTRY_FO' %}selected{% endif %}>FAROE ISLANDS</option>

<option value='ISO2_COUNTRY_FJ'
	{% if value == 'ISO2_COUNTRY_FJ' %}selected{% endif %}>FIJI</option>

<option value='ISO2_COUNTRY_FI'
	{% if value == 'ISO2_COUNTRY_FI' %}selected{% endif %}>FINLAND</option>

<option value='ISO2_COUNTRY_FR'
	{% if value == 'ISO2_COUNTRY_FR' %}selected{% endif %}>FRANCE</option>

<option value='ISO2_COUNTRY_GF'
	{% if value == 'ISO2_COUNTRY_GF' %}selected{% endif %}>FRENCH GUIANA</option>

<option value='ISO2_COUNTRY_PF'
	{% if value == 'ISO2_COUNTRY_PF' %}selected{% endif %}>FRENCH POLYNESIA</option>

<option value='ISO2_COUNTRY_TF'
	{% if value == 'ISO2_COUNTRY_TF' %}selected{% endif %}>FRENCH SOUTHERN TERRITORIES</option>

<option value='ISO2_COUNTRY_GA'
	{% if value == 'ISO2_COUNTRY_GA' %}selected{% endif %}>GABON</option>

<option value='ISO2_COUNTRY_GM'
	{% if value == 'ISO2_COUNTRY_GM' %}selected{% endif %}>GAMBIA</option>

<option value='ISO2_COUNTRY_GE'
	{% if value == 'ISO2_COUNTRY_GE' %}selected{% endif %}>GEORGIA</option>

<option value='ISO2_COUNTRY_DE'
	{% if value == 'ISO2_COUNTRY_DE' %}selected{% endif %}>GERMANY</option>

<option value='ISO2_COUNTRY_GH'
	{% if value == 'ISO2_COUNTRY_GH' %}selected{% endif %}>GHANA</option>

<option value='ISO2_COUNTRY_GI'
	{% if value == 'ISO2_COUNTRY_GI' %}selected{% endif %}>GIBRALTAR</option>

<option value='ISO2_COUNTRY_GR'
	{% if value == 'ISO2_COUNTRY_GR' %}selected{% endif %}>GREECE</option>

<option value='ISO2_COUNTRY_GL'
	{% if value == 'ISO2_COUNTRY_GL' %}selected{% endif %}>GREENLAND</option>

<option value='ISO2_COUNTRY_GD'
	{% if value == 'ISO2_COUNTRY_GD' %}selected{% endif %}>GRENADA</option>

<option value='ISO2_COUNTRY_GP'
	{% if value == 'ISO2_COUNTRY_GP' %}selected{% endif %}>GUADELOUPE</option>

<option value='ISO2_COUNTRY_GU'
	{% if value == 'ISO2_COUNTRY_GU' %}selected{% endif %}>GUAM</option>

<option value='ISO2_COUNTRY_GT'
	{% if value == 'ISO2_COUNTRY_GT' %}selected{% endif %}>GUATEMALA</option>

<option value='ISO2_COUNTRY_GG'
	{% if value == 'ISO2_COUNTRY_GG' %}selected{% endif %}>GUERNSEY</option>

<option value='ISO2_COUNTRY_GN'
	{% if value == 'ISO2_COUNTRY_GN' %}selected{% endif %}>GUINEA</option>

<option value='ISO2_COUNTRY_GW'
	{% if value == 'ISO2_COUNTRY_GW' %}selected{% endif %}>GUINEA-BISSAU</option>

<option value='ISO2_COUNTRY_GY'
	{% if value == 'ISO2_COUNTRY_GY' %}selected{% endif %}>GUYANA</option>

<option value='ISO2_COUNTRY_HT'
	{% if value == 'ISO2_COUNTRY_HT' %}selected{% endif %}>HAITI</option>

<option value='ISO2_COUNTRY_HM'
	{% if value == 'ISO2_COUNTRY_HM' %}selected{% endif %}>HEARD ISLAND AND MCDONALD ISLANDS</option>

<option value='ISO2_COUNTRY_VA'
	{% if value == 'ISO2_COUNTRY_VA' %}selected{% endif %}>HOLY SEE (VATICAN CITY STATE)</option>

<option value='ISO2_COUNTRY_HN'
	{% if value == 'ISO2_COUNTRY_HN' %}selected{% endif %}>HONDURAS</option>

<option value='ISO2_COUNTRY_HK'
	{% if value == 'ISO2_COUNTRY_HK' %}selected{% endif %}>HONG KONG</option>

<option value='ISO2_COUNTRY_HU'
	{% if value == 'ISO2_COUNTRY_HU' %}selected{% endif %}>HUNGARY</option>

<option value='ISO2_COUNTRY_IS'
	{% if value == 'ISO2_COUNTRY_IS' %}selected{% endif %}>ICELAND</option>

<option value='ISO2_COUNTRY_IN'
	{% if value == 'ISO2_COUNTRY_IN' %}selected{% endif %}>INDIA</option>

<option value='ISO2_COUNTRY_ID'
	{% if value == 'ISO2_COUNTRY_ID' %}selected{% endif %}>INDONESIA</option>

<option value='ISO2_COUNTRY_IR'
	{% if value == 'ISO2_COUNTRY_IR' %}selected{% endif %}>IRAN, ISLAMIC REPUBLIC OF</option>

<option value='ISO2_COUNTRY_IQ'
	{% if value == 'ISO2_COUNTRY_IQ' %}selected{% endif %}>IRAQ</option>

<option value='ISO2_COUNTRY_IE'
	{% if value == 'ISO2_COUNTRY_IE' %}selected{% endif %}>IRELAND</option>

<option value='ISO2_COUNTRY_IM'
	{% if value == 'ISO2_COUNTRY_IM' %}selected{% endif %}>ISLE OF MAN</option>

<option value='ISO2_COUNTRY_IL'
	{% if value == 'ISO2_COUNTRY_IL' %}selected{% endif %}>ISRAEL</option>

<option value='ISO2_COUNTRY_IT'
	{% if value == 'ISO2_COUNTRY_IT' %}selected{% endif %}>ITALY</option>

<option value='ISO2_COUNTRY_JM'
	{% if value == 'ISO2_COUNTRY_JM' %}selected{% endif %}>JAMAICA</option>

<option value='ISO2_COUNTRY_JP'
	{% if value == 'ISO2_COUNTRY_JP' %}selected{% endif %}>JAPAN</option>

<option value='ISO2_COUNTRY_JE'
	{% if value == 'ISO2_COUNTRY_JE' %}selected{% endif %}>JERSEY</option>

<option value='ISO2_COUNTRY_JO'
	{% if value == 'ISO2_COUNTRY_JO' %}selected{% endif %}>JORDAN</option>

<option value='ISO2_COUNTRY_KZ'
	{% if value == 'ISO2_COUNTRY_KZ' %}selected{% endif %}>KAZAKHSTAN</option>

<option value='ISO2_COUNTRY_KE'
	{% if value == 'ISO2_COUNTRY_KE' %}selected{% endif %}>KENYA</option>

<option value='ISO2_COUNTRY_KI'
	{% if value == 'ISO2_COUNTRY_KI' %}selected{% endif %}>KIRIBATI</option>

<option value='ISO2_COUNTRY_KP'
	{% if value == 'ISO2_COUNTRY_KP' %}selected{% endif %}>KOREA, DEMOCRATIC PEOPLE&#39;S REPUBLIC OF</option>

<option value='ISO2_COUNTRY_KR'
	{% if value == 'ISO2_COUNTRY_KR' %}selected{% endif %}>KOREA, REPUBLIC OF</option>

<option value='ISO2_COUNTRY_KW'
	{% if value == 'ISO2_COUNTRY_KW' %}selected{% endif %}>KUWAIT</option>

<option value='ISO2_COUNTRY_KG'
	{% if value == 'ISO2_COUNTRY_KG' %}selected{% endif %}>KYRGYZSTAN</option>

<option value='ISO2_COUNTRY_LA'
	{% if value == 'ISO2_COUNTRY_LA' %}selected{% endif %}>LAO PEOPLE&#39;S DEMOCRATIC REPUBLIC</option>

<option value='ISO2_COUNTRY_LV'
	{% if value == 'ISO2_COUNTRY_LV' %}selected{% endif %}>LATVIA</option>

<option value='ISO2_COUNTRY_LB'
	{% if value == 'ISO2_COUNTRY_LB' %}selected{% endif %}>LEBANON</option>

<option value='ISO2_COUNTRY_LS'
	{% if value == 'ISO2_COUNTRY_LS' %}selected{% endif %}>LESOTHO</option>

<option value='ISO2_COUNTRY_LR'
	{% if value == 'ISO2_COUNTRY_LR' %}selected{% endif %}>LIBERIA</option>

<option value='ISO2_COUNTRY_LY'
	{% if value == 'ISO2_COUNTRY_LY' %}selected{% endif %}>LIBYA</option>

<option value='ISO2_COUNTRY_LI'
	{% if value == 'ISO2_COUNTRY_LI' %}selected{% endif %}>LIECHTENSTEIN</option>

<option value='ISO2_COUNTRY_LT'
	{% if value == 'ISO2_COUNTRY_LT' %}selected{% endif %}>LITHUANIA</option>

<option value='ISO2_COUNTRY_LU'
	{% if value == 'ISO2_COUNTRY_LU' %}selected{% endif %}>LUXEMBOURG</option>

<option value='ISO2_COUNTRY_MO'
	{% if value == 'ISO2_COUNTRY_MO' %}selected{% endif %}>MACAO</option>

<option value='ISO2_COUNTRY_MK'
	{% if value == 'ISO2_COUNTRY_MK' %}selected{% endif %}>MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>

<option value='ISO2_COUNTRY_MG'
	{% if value == 'ISO2_COUNTRY_MG' %}selected{% endif %}>MADAGASCAR</option>

<option value='ISO2_COUNTRY_MW'
	{% if value == 'ISO2_COUNTRY_MW' %}selected{% endif %}>MALAWI</option>

<option value='ISO2_COUNTRY_MY'
	{% if value == 'ISO2_COUNTRY_MY' %}selected{% endif %}>MALAYSIA</option>

<option value='ISO2_COUNTRY_MV'
	{% if value == 'ISO2_COUNTRY_MV' %}selected{% endif %}>MALDIVES</option>

<option value='ISO2_COUNTRY_ML'
	{% if value == 'ISO2_COUNTRY_ML' %}selected{% endif %}>MALI</option>

<option value='ISO2_COUNTRY_MT'
	{% if value == 'ISO2_COUNTRY_MT' %}selected{% endif %}>MALTA</option>

<option value='ISO2_COUNTRY_MH'
	{% if value == 'ISO2_COUNTRY_MH' %}selected{% endif %}>MARSHALL ISLANDS</option>

<option value='ISO2_COUNTRY_MQ'
	{% if value == 'ISO2_COUNTRY_MQ' %}selected{% endif %}>MARTINIQUE</option>

<option value='ISO2_COUNTRY_MR'
	{% if value == 'ISO2_COUNTRY_MR' %}selected{% endif %}>MAURITANIA</option>

<option value='ISO2_COUNTRY_MU'
	{% if value == 'ISO2_COUNTRY_MU' %}selected{% endif %}>MAURITIUS</option>

<option value='ISO2_COUNTRY_YT'
	{% if value == 'ISO2_COUNTRY_YT' %}selected{% endif %}>MAYOTTE</option>

<option value='ISO2_COUNTRY_MX'
	{% if value == 'ISO2_COUNTRY_MX' %}selected{% endif %}>MEXICO</option>

<option value='ISO2_COUNTRY_FM'
	{% if value == 'ISO2_COUNTRY_FM' %}selected{% endif %}>MICRONESIA, FEDERATED STATES OF</option>

<option value='ISO2_COUNTRY_MD'
	{% if value == 'ISO2_COUNTRY_MD' %}selected{% endif %}>MOLDOVA, REPUBLIC OF</option>

<option value='ISO2_COUNTRY_MC'
	{% if value == 'ISO2_COUNTRY_MC' %}selected{% endif %}>MONACO</option>

<option value='ISO2_COUNTRY_MN'
	{% if value == 'ISO2_COUNTRY_MN' %}selected{% endif %}>MONGOLIA</option>

<option value='ISO2_COUNTRY_ME'
	{% if value == 'ISO2_COUNTRY_ME' %}selected{% endif %}>MONTENEGRO</option>

<option value='ISO2_COUNTRY_MS'
	{% if value == 'ISO2_COUNTRY_MS' %}selected{% endif %}>MONTSERRAT</option>

<option value='ISO2_COUNTRY_MA'
	{% if value == 'ISO2_COUNTRY_MA' %}selected{% endif %}>MOROCCO</option>

<option value='ISO2_COUNTRY_MZ'
	{% if value == 'ISO2_COUNTRY_MZ' %}selected{% endif %}>MOZAMBIQUE</option>

<option value='ISO2_COUNTRY_MM'
	{% if value == 'ISO2_COUNTRY_MM' %}selected{% endif %}>MYANMAR</option>

<option value='ISO2_COUNTRY_NA'
	{% if value == 'ISO2_COUNTRY_NA' %}selected{% endif %}>NAMIBIA</option>

<option value='ISO2_COUNTRY_NR'
	{% if value == 'ISO2_COUNTRY_NR' %}selected{% endif %}>NAURU</option>

<option value='ISO2_COUNTRY_NP'
	{% if value == 'ISO2_COUNTRY_NP' %}selected{% endif %}>NEPAL</option>

<option value='ISO2_COUNTRY_NL'
	{% if value == 'ISO2_COUNTRY_NL' %}selected{% endif %}>NETHERLANDS</option>

<option value='ISO2_COUNTRY_NC'
	{% if value == 'ISO2_COUNTRY_NC' %}selected{% endif %}>NEW CALEDONIA</option>

<option value='ISO2_COUNTRY_NZ'
	{% if value == 'ISO2_COUNTRY_NZ' %}selected{% endif %}>NEW ZEALAND</option>

<option value='ISO2_COUNTRY_NI'
	{% if value == 'ISO2_COUNTRY_NI' %}selected{% endif %}>NICARAGUA</option>

<option value='ISO2_COUNTRY_NE'
	{% if value == 'ISO2_COUNTRY_NE' %}selected{% endif %}>NIGER</option>

<option value='ISO2_COUNTRY_NG'
	{% if value == 'ISO2_COUNTRY_NG' %}selected{% endif %}>NIGERIA</option>

<option value='ISO2_COUNTRY_NU'
	{% if value == 'ISO2_COUNTRY_NU' %}selected{% endif %}>NIUE</option>

<option value='ISO2_COUNTRY_NF'
	{% if value == 'ISO2_COUNTRY_NF' %}selected{% endif %}>NORFOLK ISLAND</option>

<option value='ISO2_COUNTRY_MP'
	{% if value == 'ISO2_COUNTRY_MP' %}selected{% endif %}>NORTHERN MARIANA ISLANDS</option>

<option value='ISO2_COUNTRY_NO'
	{% if value == 'ISO2_COUNTRY_NO' %}selected{% endif %}>NORWAY</option>

<option value='ISO2_COUNTRY_OM'
	{% if value == 'ISO2_COUNTRY_OM' %}selected{% endif %}>OMAN</option>

<option value='ISO2_COUNTRY_PK'
	{% if value == 'ISO2_COUNTRY_PK' %}selected{% endif %}>PAKISTAN</option>

<option value='ISO2_COUNTRY_PW'
	{% if value == 'ISO2_COUNTRY_PW' %}selected{% endif %}>PALAU</option>

<option value='ISO2_COUNTRY_PS'
	{% if value == 'ISO2_COUNTRY_PS' %}selected{% endif %}>PALESTINE, STATE OF</option>

<option value='ISO2_COUNTRY_PA'
	{% if value == 'ISO2_COUNTRY_PA' %}selected{% endif %}>PANAMA</option>

<option value='ISO2_COUNTRY_PG'
	{% if value == 'ISO2_COUNTRY_PG' %}selected{% endif %}>PAPUA NEW GUINEA</option>

<option value='ISO2_COUNTRY_PY'
	{% if value == 'ISO2_COUNTRY_PY' %}selected{% endif %}>PARAGUAY</option>

<option value='ISO2_COUNTRY_PE'
	{% if value == 'ISO2_COUNTRY_PE' %}selected{% endif %}>PERU</option>

<option value='ISO2_COUNTRY_PH'
	{% if value == 'ISO2_COUNTRY_PH' %}selected{% endif %}>PHILIPPINES</option>

<option value='ISO2_COUNTRY_PN'
	{% if value == 'ISO2_COUNTRY_PN' %}selected{% endif %}>PITCAIRN</option>

<option value='ISO2_COUNTRY_PL'
	{% if value == 'ISO2_COUNTRY_PL' %}selected{% endif %}>POLAND</option>

<option value='ISO2_COUNTRY_PT'
	{% if value == 'ISO2_COUNTRY_PT' %}selected{% endif %}>PORTUGAL</option>

<option value='ISO2_COUNTRY_PR'
	{% if value == 'ISO2_COUNTRY_PR' %}selected{% endif %}>PUERTO RICO</option>

<option value='ISO2_COUNTRY_QA'
	{% if value == 'ISO2_COUNTRY_QA' %}selected{% endif %}>QATAR</option>

<option value='ISO2_COUNTRY_RE'
	{% if value == 'ISO2_COUNTRY_RE' %}selected{% endif %}>RÉUNION</option>

<option value='ISO2_COUNTRY_RO'
	{% if value == 'ISO2_COUNTRY_RO' %}selected{% endif %}>ROMANIA</option>

<option value='ISO2_COUNTRY_RU'
	{% if value == 'ISO2_COUNTRY_RU' %}selected{% endif %}>RUSSIAN FEDERATION</option>

<option value='ISO2_COUNTRY_RW'
	{% if value == 'ISO2_COUNTRY_RW' %}selected{% endif %}>RWANDA</option>

<option value='ISO2_COUNTRY_BL'
	{% if value == 'ISO2_COUNTRY_BL' %}selected{% endif %}>SAINT BARTHÉLEMY</option>

<option value='ISO2_COUNTRY_SH'
	{% if value == 'ISO2_COUNTRY_SH' %}selected{% endif %}>SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA</option>

<option value='ISO2_COUNTRY_KN'
	{% if value == 'ISO2_COUNTRY_KN' %}selected{% endif %}>SAINT KITTS AND NEVIS</option>

<option value='ISO2_COUNTRY_LC'
	{% if value == 'ISO2_COUNTRY_LC' %}selected{% endif %}>SAINT LUCIA</option>

<option value='ISO2_COUNTRY_MF'
	{% if value == 'ISO2_COUNTRY_MF' %}selected{% endif %}>SAINT MARTIN (FRENCH PART)</option>

<option value='ISO2_COUNTRY_PM'
	{% if value == 'ISO2_COUNTRY_PM' %}selected{% endif %}>SAINT PIERRE AND MIQUELON</option>

<option value='ISO2_COUNTRY_VC'
	{% if value == 'ISO2_COUNTRY_VC' %}selected{% endif %}>SAINT VINCENT AND THE GRENADINES</option>

<option value='ISO2_COUNTRY_WS'
	{% if value == 'ISO2_COUNTRY_WS' %}selected{% endif %}>SAMOA</option>

<option value='ISO2_COUNTRY_SM'
	{% if value == 'ISO2_COUNTRY_SM' %}selected{% endif %}>SAN MARINO</option>

<option value='ISO2_COUNTRY_ST'
	{% if value == 'ISO2_COUNTRY_ST' %}selected{% endif %}>SAO TOME AND PRINCIPE</option>

<option value='ISO2_COUNTRY_SA'
	{% if value == 'ISO2_COUNTRY_SA' %}selected{% endif %}>SAUDI ARABIA</option>

<option value='ISO2_COUNTRY_SN'
	{% if value == 'ISO2_COUNTRY_SN' %}selected{% endif %}>SENEGAL</option>

<option value='ISO2_COUNTRY_RS'
	{% if value == 'ISO2_COUNTRY_RS' %}selected{% endif %}>SERBIA</option>

<option value='ISO2_COUNTRY_SC'
	{% if value == 'ISO2_COUNTRY_SC' %}selected{% endif %}>SEYCHELLES</option>

<option value='ISO2_COUNTRY_SL'
	{% if value == 'ISO2_COUNTRY_SL' %}selected{% endif %}>SIERRA LEONE</option>

<option value='ISO2_COUNTRY_SG'
	{% if value == 'ISO2_COUNTRY_SG' %}selected{% endif %}>SINGAPORE</option>

<option value='ISO2_COUNTRY_SX'
	{% if value == 'ISO2_COUNTRY_SX' %}selected{% endif %}>SINT MAARTEN (DUTCH PART)</option>

<option value='ISO2_COUNTRY_SK'
	{% if value == 'ISO2_COUNTRY_SK' %}selected{% endif %}>SLOVAKIA</option>

<option value='ISO2_COUNTRY_SI'
	{% if value == 'ISO2_COUNTRY_SI' %}selected{% endif %}>SLOVENIA</option>

<option value='ISO2_COUNTRY_SB'
	{% if value == 'ISO2_COUNTRY_SB' %}selected{% endif %}>SOLOMON ISLANDS</option>

<option value='ISO2_COUNTRY_SO'
	{% if value == 'ISO2_COUNTRY_SO' %}selected{% endif %}>SOMALIA</option>

<option value='ISO2_COUNTRY_ZA'
	{% if value == 'ISO2_COUNTRY_ZA' %}selected{% endif %}>SOUTH AFRICA</option>

<option value='ISO2_COUNTRY_GS'
	{% if value == 'ISO2_COUNTRY_GS' %}selected{% endif %}>SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>

<option value='ISO2_COUNTRY_SS'
	{% if value == 'ISO2_COUNTRY_SS' %}selected{% endif %}>SOUTH SUDAN</option>

<option value='ISO2_COUNTRY_ES'
	{% if value == 'ISO2_COUNTRY_ES' %}selected{% endif %}>SPAIN</option>

<option value='ISO2_COUNTRY_LK'
	{% if value == 'ISO2_COUNTRY_LK' %}selected{% endif %}>SRI LANKA</option>

<option value='ISO2_COUNTRY_SD'
	{% if value == 'ISO2_COUNTRY_SD' %}selected{% endif %}>SUDAN</option>

<option value='ISO2_COUNTRY_SR'
	{% if value == 'ISO2_COUNTRY_SR' %}selected{% endif %}>SURINAME</option>

<option value='ISO2_COUNTRY_SJ'
	{% if value == 'ISO2_COUNTRY_SJ' %}selected{% endif %}>SVALBARD AND JAN MAYEN</option>

<option value='ISO2_COUNTRY_SZ'
	{% if value == 'ISO2_COUNTRY_SZ' %}selected{% endif %}>SWAZILAND</option>

<option value='ISO2_COUNTRY_SE'
	{% if value == 'ISO2_COUNTRY_SE' %}selected{% endif %}>SWEDEN</option>

<option value='ISO2_COUNTRY_CH'
	{% if value == 'ISO2_COUNTRY_CH' %}selected{% endif %}>SWITZERLAND</option>

<option value='ISO2_COUNTRY_SY'
	{% if value == 'ISO2_COUNTRY_SY' %}selected{% endif %}>SYRIAN ARAB REPUBLIC</option>

<option value='ISO2_COUNTRY_TW'
	{% if value == 'ISO2_COUNTRY_TW' %}selected{% endif %}>TAIWAN, PROVINCE OF CHINA</option>

<option value='ISO2_COUNTRY_TJ'
	{% if value == 'ISO2_COUNTRY_TJ' %}selected{% endif %}>TAJIKISTAN</option>

<option value='ISO2_COUNTRY_TZ'
	{% if value == 'ISO2_COUNTRY_TZ' %}selected{% endif %}>TANZANIA, UNITED REPUBLIC OF</option>

<option value='ISO2_COUNTRY_TH'
	{% if value == 'ISO2_COUNTRY_TH' %}selected{% endif %}>THAILAND</option>

<option value='ISO2_COUNTRY_TL'
	{% if value == 'ISO2_COUNTRY_TL' %}selected{% endif %}>TIMOR-LESTE</option>

<option value='ISO2_COUNTRY_TG'
	{% if value == 'ISO2_COUNTRY_TG' %}selected{% endif %}>TOGO</option>

<option value='ISO2_COUNTRY_TK'
	{% if value == 'ISO2_COUNTRY_TK' %}selected{% endif %}>TOKELAU</option>

<option value='ISO2_COUNTRY_TO'
	{% if value == 'ISO2_COUNTRY_TO' %}selected{% endif %}>TONGA</option>

<option value='ISO2_COUNTRY_TT'
	{% if value == 'ISO2_COUNTRY_TT' %}selected{% endif %}>TRINIDAD AND TOBAGO</option>

<option value='ISO2_COUNTRY_TN'
	{% if value == 'ISO2_COUNTRY_TN' %}selected{% endif %}>TUNISIA</option>

<option value='ISO2_COUNTRY_TR'
	{% if value == 'ISO2_COUNTRY_TR' %}selected{% endif %}>TURKEY</option>

<option value='ISO2_COUNTRY_TM'
	{% if value == 'ISO2_COUNTRY_TM' %}selected{% endif %}>TURKMENISTAN</option>

<option value='ISO2_COUNTRY_TC'
	{% if value == 'ISO2_COUNTRY_TC' %}selected{% endif %}>TURKS AND CAICOS ISLANDS</option>

<option value='ISO2_COUNTRY_TV'
	{% if value == 'ISO2_COUNTRY_TV' %}selected{% endif %}>TUVALU</option>

<option value='ISO2_COUNTRY_UG'
	{% if value == 'ISO2_COUNTRY_UG' %}selected{% endif %}>UGANDA</option>

<option value='ISO2_COUNTRY_UA'
	{% if value == 'ISO2_COUNTRY_UA' %}selected{% endif %}>UKRAINE</option>

<option value='ISO2_COUNTRY_AE'
	{% if value == 'ISO2_COUNTRY_AE' %}selected{% endif %}>UNITED ARAB EMIRATES</option>

<option value='ISO2_COUNTRY_GB'
	{% if value == 'ISO2_COUNTRY_GB' %}selected{% endif %}>UNITED KINGDOM</option>

<option value='ISO2_COUNTRY_US'
	{% if value == 'ISO2_COUNTRY_US' %}selected{% endif %}>UNITED STATES</option>

<option value='ISO2_COUNTRY_UM'
	{% if value == 'ISO2_COUNTRY_UM' %}selected{% endif %}>UNITED STATES MINOR OUTLYING ISLANDS</option>

<option value='ISO2_COUNTRY_UY'
	{% if value == 'ISO2_COUNTRY_UY' %}selected{% endif %}>URUGUAY</option>

<option value='ISO2_COUNTRY_UZ'
	{% if value == 'ISO2_COUNTRY_UZ' %}selected{% endif %}>UZBEKISTAN</option>

<option value='ISO2_COUNTRY_VU'
	{% if value == 'ISO2_COUNTRY_VU' %}selected{% endif %}>VANUATU</option>

<option value='ISO2_COUNTRY_VE'
	{% if value == 'ISO2_COUNTRY_VE' %}selected{% endif %}>VENEZUELA, BOLIVARIAN REPUBLIC OF</option>

<option value='ISO2_COUNTRY_VN'
	{% if value == 'ISO2_COUNTRY_VN' %}selected{% endif %}>VIET NAM</option>

<option value='ISO2_COUNTRY_VG'
	{% if value == 'ISO2_COUNTRY_VG' %}selected{% endif %}>VIRGIN ISLANDS, BRITISH</option>

<option value='ISO2_COUNTRY_VI'
	{% if value == 'ISO2_COUNTRY_VI' %}selected{% endif %}>VIRGIN ISLANDS, U.S.</option>

<option value='ISO2_COUNTRY_WF'
	{% if value == 'ISO2_COUNTRY_WF' %}selected{% endif %}>WALLIS AND FUTUNA</option>

<option value='ISO2_COUNTRY_EH'
	{% if value == 'ISO2_COUNTRY_EH' %}selected{% endif %}>WESTERN SAHARA</option>

<option value='ISO2_COUNTRY_YE'
	{% if value == 'ISO2_COUNTRY_YE' %}selected{% endif %}>YEMEN</option>

<option value='ISO2_COUNTRY_ZM'
	{% if value == 'ISO2_COUNTRY_ZM' %}selected{% endif %}>ZAMBIA</option>

<option value='ISO2_COUNTRY_ZW'
	{% if value == 'ISO2_COUNTRY_ZW' %}selected{% endif %}>ZIMBABWE</option>
